@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --popover: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --input-hover: 214.3 31.8% 82.6%;
    --ring: 221.2 83.2% 53.3%;

    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 12% 96.1%;
    --secondary-foreground: 222.2 12.4% 41.2%;

    --muted: 210 40% 97%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 95%;
    --accent-foreground: 222.2 47.4% 11.2%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;

    --card: 231, 11%, 12%;
    --popover: 231, 11%, 12%;
    --card-foreground: 210 40% 98%;
    --popover-foreground: 210 40% 98%;

    --border: 200, 8%, 18%;
    --input: 220, 8%, 26%;
    --input-hover: 200, 8%, 32%;
    --ring: 200, 8%, 16%;

    --secondary: 217.2 12.6% 17.5%;
    --secondary-foreground: 210 20% 68%;

    --muted: 217.2 18.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
  }
}

body {
  @apply bg-background text-foreground;
}

/* 弹窗动画(XDialog) */
.x-dialog-enter-active,
.x-dialog-leave-active {
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
.x-dialog-enter-from {
  opacity: 0;
  transform: perspective(1000px) rotateX(-60deg) translateY(-30px);
}
.x-dialog-leave-to {
  opacity: 0;
  transform: perspective(1000px) rotateX(60deg) translateY(30px);
}

/* 抖动动画(XDialog) */
.x-shake-animation {
  animation: x-shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes x-shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* Button Icon Animation */
.x-icon-enter-active,
.x-icon-leave-active {
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.x-icon-enter-from,
.x-icon-leave-to {
  opacity: 0;
  transform: scale(0.7) rotate(-10deg);
}
.x-icon-enter-to,
.x-icon-leave-from {
  opacity: 1;
  transform: scale(1) rotate(0);
}
