/* Tiptap */
.tiptap p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  height: 0;
  color: #adb5bd;
  pointer-events: none;
}

/* tiptap */
.tiptap:first-child {
  margin-top: 0;
}
.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4 {
  line-height: 1.5;
  font-weight: 600;
  text-wrap: pretty;
}

.tiptap h1 {
  margin: 0 0 1rem;
  font-size: 1.6rem;
}
.tiptap h2 {
  margin: 0 0 0.75rem;
  font-size: 1.4rem;
}
.tiptap h3 {
  margin: 0 0 0.5rem;
  font-size: 1.2rem;
}
.tiptap h4 {
  margin: 0 0 0.25rem;
  font-size: 1rem;
}

.tiptap ul {
  list-style: disc;
  padding-left: 1.125rem;
}
.tiptap ol {
  list-style: decimal;
  padding-left: 1.125rem;
}

.tiptap pre {
  overflow-x: auto;
  background-color: hsl(var(--muted));
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
.tiptap code {
  font-size: 0.875rem;
}

.tiptap hr {
  border: none;
  color: hsl(var(--border));
  border-top: 1px solid;
  cursor: pointer;
  margin: 2rem 0;

  &.ProseMirror-selectednode {
    border-top: 1px solid;
  }
}

.tiptap .img-left {
  display: block;
  margin-right: auto;
}

.tiptap .img-center {
  display: block;
  margin: 0 auto;
}

.tiptap .img-right {
  display: block;
  margin-left: auto;
}

.tiptap a {
  cursor: pointer;
  text-decoration-color: currentColor;
  cursor: pointer;
  text-decoration: underline;
}

.tiptap a span {
  text-decoration: underline;
  text-decoration-color: currentColor;
  cursor: pointer;
}
